tqdm
openai
python-dotenv
numpy
networkx
graspologic
tiktoken
pyecharts
wikipedia
tenacity
nltk
jieba
plotly
pandas
gradio==5.44.1
kaleido
pyyaml
langcodes
requests
fastapi
trafilatura
aiohttp
socksio
pydantic
ray==2.53.0
pyarrow

leidenalg
igraph
python-louvain

# storage
rocksdict
kuzu

# KG
rdflib
scipy

# Bioinformatics
biopython

# For visualization
matplotlib
